.black{
  background-color: #000000;
  height: 100px;
  transition: all 1s;
}

.black:hover{
  background-color: #000099;
  height: 100px;
  transition: all 1s;
}

.white{
  background-color: #ffffff;
  height: 100px;
  transition: all 1s;
}

.white:hover{
  background-color: #006600;
  height: 100px;
  transition: all 1s;
}

.jkl{
  width: 1200px;
}
